@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme {
  --font-montserrat: var(--font-montserrat);

  --color-base-white: #ffffff;
  --color-base-black: #231f20;
  --color-primary: #1e1e1e;
  --color-brand: #3276fa;
  --color-foreground: #18181b;
  --color-foreground-active: #0935fe;
}

.brand-circle {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: conic-gradient(#3276fa 0deg 90deg, transparent 90deg 180deg, #3276fa 180deg 0deg);
}
